@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

/* Scrollbars */
::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	@apply bg-backgroundTone dark:bg-backgroundTone-dark;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
@apply bg-primary/60 dark:bg-primary/60;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-primary/80 dark:bg-primary/80;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: theme('colors.primary.DEFAULT / 0.6') theme('colors.backgroundTone.DEFAULT');
  }
  
  .dark * {
	scrollbar-color: theme('colors.primary.DEFAULT / 0.6') theme('colors.backgroundTone.dark');
  }

/* Bg  */
.bg-bgcolor {
	@apply bg-background dark:bg-background-dark;
}
.bg-bgcolor-inverted {
	@apply dark:bg-background bg-background-dark;
}

/* Bg tone */
.bg-bgtone {
	@apply bg-backgroundTone dark:bg-backgroundTone-dark;
}
.bg-bgtone-inverted {
	@apply dark:bg-backgroundTone bg-backgroundTone-dark;
}

/* Texte */
.text-default {
	@apply text-text-primary dark:text-text-primary-dark;
}

.text-inverted {
	@apply dark:text-text-primary text-text-primary-dark;
}

@font-face {
	font-family: "NeueMontreal";
	src: url("/fonts/NeueMontreal-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NeueMontreal";
	src: url("/fonts/NeueMontreal-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100vh;
}

html {
	height: 100%;
	@apply transition-colors duration-500;
}
